# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ----------------------
# Virtual Environment
# ----------------------
venv/
.env
.env.*

# ----------------------
# Database
# ----------------------
*.db

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Test / Coverage
# ----------------------
.coverage
htmlcov/
.pytest_cache/

# ----------------------
# Mypy / Ruff
# ----------------------
.mypy_cache/
.ruff_cache/

#----------------------
# Input files
#----------------------
Input/